body {
    font-family: "Courier New", Courier, monospace;
}

h4 {
  padding-top: 9px;
}

.btn-checklist {
  border-radius: 100%;
  padding: 3px;
  margin: 3px;
  border: 2px solid;
  
}

.btn-success {
	background-color: #555555;
	border-color: #00ff00;
	color: rgba(0, 255, 0, .4);
}

.btn-warning {
	background-color: #555555;
	border-color: #ffe600;
	color: rgba(255, 230, 00, .4);
}

.btn-danger {
	background-color: #555555;
	border-color: red;
	color: rgba(255, 0, 0, .4);
}



.go  {
	background-color: #00ff00;
	color: white;
}

.go:focus {
	background-color: #00ff00;
}

.hold 
{
	background-color: #ffe600;
	color: white;
}
.hold:focus {
	background-color: #ffe600;
}


.abort {
	background-color: red;
	color: white;
}

.abort:focus{
	background-color: red;
}





/*checklist section*/
.checklist {
  padding-top: 220px;
}


/*buttons*/
.fa-rocket {
    padding: 11px;
	
}

.fa-warning {
  padding: 10px;
}

.fa-remove  {
  padding: 11px;
}  /*end of buttons*/
/*end of checklist section*/

/*top of page - status buttons*/
.stats {
  background-color: #111111;
  color: #00ff00;
  margin: 2px;
}

#run {
  border: 2px solid white;
   padding: 20px 0px 42px 0px;
}

#weather {
  border: 2px solid white;
   padding: 20px 0px 42px 0px;
}

#windDir {
  border: 2px solid white;
   padding: 20px 0px 20px 0px;
}

#launch {
  border: 2px solid white;
   padding: 20px 0px 42px 0px;
   color: #777777;
   background-color: #dddddd;
}
/*end of status section*/

/*clock*/
.clock {
  background-color: #111111;
  border: 4px #00ff00 solid;
  color: #00ff00;
  font-size: 2em;
  margin: 100px 0px 5px 0px;
  padding: 40px 0px;
}