h4 {
  padding-top: 9px;
}

.btn-checklist {
  border-radius: 100%;
  padding: 3px;
  margin: 3px;
}

.fa-rocket {
    padding: 11px;
}

.fa-warning {
  padding: 10px;
}

.fa-remove  {
  padding: 11px;
}

.clock {
  background-color: #090909;
  border: 1px yellow solid;
  color: yellow;
  font-family: "Consolas", "Lucida Console";
  font-size: 2em;
}
